---
import JavascriptIcon from "./icons/JavascriptIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import TypescriptIcon from "./icons/TypescriptIcon.astro";
import ExpressIcon from "./icons/ExpressIcon.astro";
import PostgreSQL from "./icons/PostgreSQLIcon.astro";
import SocialPill from "./icons/SocialPill.astro";
import Github from "./icons/Github.astro";

import CountriesImage from "./Images/countries_of_the_world.png";
import RickandmortyImage from "./Images/rickandmorty_wbg_compress.png";
import CustomcraftImage from "./Images/customcraft01.png";

const TAGS = {
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-blue-100 text-black",
    icon: JavascriptIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-blue-100 text-black",
    icon: TailwindIcon,
  },
  REACT: {
    name: "React",
    class: "bg-blue-100 text-black",
    icon: ReactIcon,
  },
  TYPESCRIPT: {
    name: "Typescript",
    class: "bg-blue-100 text-black",
    icon: TypescriptIcon,
  },
  EXPRESS: {
    name: "Express.js",
    class: "bg-blue-100 text-black",
    icon: ExpressIcon,
  },
  POSTGRESQL: {
    name: "PostgreSQL",
    class: "bg-blue-100 text-black",
    icon: PostgreSQL,
  },
};
const PROJECTS = [
  {
    title: "Countries of the world",
    description:
      "Project that gathers an extensive database with information of all the countries of the world, from its population to its extension, you can also save information about the activities that you can do in each of the countries. The application is fully responsive.",
    link: "https://pi-countries-frontend-production.up.railway.app/",
    github: "https://github.com/GustavoMunizBarrios/pi-countries-frontend",
    image: CountriesImage,
    tags: [TAGS.REACT, TAGS.JAVASCRIPT, TAGS.EXPRESS, TAGS.POSTGRESQL],
  },
  {
    title: "Rick and Morty wiki",
    description:
      "Compilation of characters from the Rick and Morty series, the application has different filters to sort characters, and a search bar.",
    link: "https://rick-and-morty-frontend-production.up.railway.app/",
    github: "https://github.com/GustavoMunizBarrios/rick-and-morty-",
    image: RickandmortyImage,
    tags: [TAGS.REACT, TAGS.JAVASCRIPT, TAGS.EXPRESS, TAGS.POSTGRESQL],
  },
  {
    title: "Custom Craft",
    description:
      "Custom Craft is an online store where you can pre-visualize your clothes in a 3D model with the possibility to customize your own clothes, adding color and size.",
    link: "https://proyecto-final-eight-beige.vercel.app/",
    github: "https://github.com/fedeMaidana/Proyecto_Final",
    image: CustomcraftImage,
    tags: [
      TAGS.REACT,
      TAGS.JAVASCRIPT,
      TAGS.TAILWIND,
      TAGS.EXPRESS,
      TAGS.POSTGRESQL,
    ],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="ml-3">
      <div class="flex items-center justify-between">
        <h3 class="text-2xl font-semibold text-[#EF8354] mb-2">
          {" "}
          <a href={link} class="hover:underline">
            {title}
          </a>{" "}
        </h3>
        <div class=" ml-6 mb-4">
          <SocialPill href={github}>
            <Github class="size-4 md:size-6 " />
            GitHub
          </SocialPill>
        </div>
      </div>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-4 flex-row">
        {tags.map((tag) => (
          <li class="pb-4">
            <span
              class={`flex gap-x-2 border rounded-full text-sm ${tag.class} py-2 px-3`}
            >
              <tag.icon class="size-5 " />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <a href={link}>
        <img
          class="transform hover:scale-105 transition duration-300 ease-in-out"
          src={image.src}
          alt={`Screenshot of the project ${title}`}
        />
      </a>
    </article>
  ))
}
